body {  
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  }  
body { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    background-color: #ecfcff; 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; 
    margin: 0;
} 

.css-1xfvyax { 
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px; 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    box-sizing: border-box; 
    flex-shrink: 0; 
    position: sticky; 
    z-index: 1100; 
    top: 0px; 
    left: auto; 
    right: 0px; 
    background-color: rgb(25, 118, 210); 
    color: rgb(255, 255, 255);
} 

.css-10ur324 { 
    width: 100%; 
    margin-left: auto; 
    box-sizing: border-box; 
    margin-right: auto; 
    display: block; 
    padding-left: 16px; 
    padding-right: 16px;
} 

@media (min-width: 600px){ 
  .css-10ur324 { 
    padding-left: 24px; 
    padding-right: 24px;
  } 
}     

.jss16 { 
    display: flex; 
    overflow: hidden; 
    white-space: nowrap;
} 

.css-1k7c5mh { 
    color: rgba(0, 0, 0, 0.87); 
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    border-radius: 4px; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 5px 8px 0px, rgba(0, 0, 0, 0.12) 0px 1px 14px 0px; 
    max-width: 400px; 
    background-color: rgb(187, 225, 245); 
    padding: 16px; 
    margin: 32px;
} 

.css-mckm1k { 
    margin: 4rem 0px 0px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 0.875rem; 
    line-height: 1.43; 
    letter-spacing: 0.01071em; 
    text-align: center; 
    color: rgba(0, 0, 0, 0.6);
} 

.css-1i92hma { 
    margin: 0px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    color: rgb(211, 47, 47); 
    font-size: 18px; 
    padding: 8px;
} 

.jss17 { 
    animation: jss18 20s linear infinite;
} 

.css-78jar2 { 
    display: flex; 
    flex-direction: column;
} 

.css-17405ie { 
    margin: 0px; 
    font-family: inherit; 
    font-weight: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    letter-spacing: inherit; 
    text-decoration: underline; 
    color: inherit;
} 

.css-17405ie:hover { 
    text-decoration-color: inherit;
} 

.css-12o98wt { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    min-height: 56px;
} 

@media (orientation: landscape){ 
  .css-12o98wt { 
    min-height: 48px;
  } 
}     

@media (min-width: 600px){ 
  .css-12o98wt { 
    min-height: 64px;
  } 
}     

.css-j7qwjs { 
    display: flex; 
    flex-direction: column;
} 

.css-1o75eh0 { 
    display: flex; 
    flex-direction: column;
} 

@media (min-width: 0px){ 
  .css-1o75eh0 { 
    flex-direction: column;
  } 
}     

@media (min-width: 600px){ 
  .css-1o75eh0 { 
    flex-direction: row;
  } 
}     

.css-78jar2 > :not(style) + :not(style)  { 
    margin: 32px 0px 0px;
} 

.css-1ppfs82 { 
    width: 100%; 
    margin-left: auto; 
    box-sizing: border-box; 
    margin-right: auto; 
    padding-left: 16px; 
    padding-right: 16px; 
    display: flex; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    -webkit-box-align: center; 
    align-items: center;
} 

@media (min-width: 600px){ 
  .css-1ppfs82 { 
    padding-left: 24px; 
    padding-right: 24px;
  } 
}     

.css-feqhe6 { 
    display: inline-flex; 
    flex-direction: column; 
    position: relative; 
    min-width: 0px; 
    padding: 0px; 
    margin: 0px; 
    border: 0px; 
    vertical-align: top; 
    width: 100%;
} 

.css-1hw9j7s { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 500; 
    font-size: 0.875rem; 
    line-height: 1.75; 
    letter-spacing: 0.02857em; 
    text-transform: uppercase; 
    min-width: 64px; 
    padding: 6px 16px; 
    border-radius: 4px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: rgb(255, 255, 255); 
    background-color: rgb(25, 118, 210); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
} 

@media (min-width: 0px){ 
  .css-1o75eh0 > :not(style) + :not(style)  { 
    margin: 32px 0px 0px;
  } 
}     

@media (min-width: 600px){ 
  .css-1o75eh0 > :not(style) + :not(style)  { 
    margin: 0px 0px 0px 32px;
  } 
}     

.css-1hw9j7s:hover { 
    text-decoration: none; 
    background-color: rgb(21, 101, 192); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
} 

.css-1kb8ac8 { 
    display: flex; 
    flex-direction: row; 
    column-gap: 8px; 
    -webkit-box-flex: 1; 
    flex-grow: 1;
} 

.css-1egs8ln { 
    display: flex; 
    flex-direction: row; 
    margin-right: 16px;
} 

.css-1abzdwk { 
    display: flex; 
    flex-direction: row; 
    -webkit-box-align: center; 
    align-items: center;
} 

.css-cktaik { 
    color: rgba(0, 0, 0, 0.6); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.4375em; 
    letter-spacing: 0.00938em; 
    padding: 0px; 
    display: block; 
    transform-origin: left top; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: calc(100% - 24px); 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    transform: translate(14px, 9px) scale(1); 
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms; 
    z-index: 1; 
    pointer-events: none;
} 

.css-1bp1ao6 { 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.4375em; 
    letter-spacing: 0.00938em; 
    color: rgba(0, 0, 0, 0.87); 
    box-sizing: border-box; 
    cursor: text; 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 100%; 
    position: relative; 
    border-radius: 4px;
} 

.css-gu32u8 { 
    color: rgba(0, 0, 0, 0.6); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.4375em; 
    letter-spacing: 0.00938em; 
    padding: 0px; 
    display: block; 
    transform-origin: left top; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    transform: translate(0px, 17px) scale(1); 
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
} 

.css-12rx5qu { 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.4375em; 
    letter-spacing: 0.00938em; 
    color: rgba(0, 0, 0, 0.87); 
    box-sizing: border-box; 
    cursor: text; 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 100%; 
    position: relative;
} 

label + .css-12rx5qu  { 
    margin-top: 16px;
} 

.css-12rx5qu:before { 
    border-bottom: 1px solid rgba(0, 0, 0, 0.42); 
    left: 0px; 
    bottom: 0px; 
    content: " "; 
    position: absolute; 
    right: 0px; 
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    pointer-events: none;
} 

.css-12rx5qu:after { 
    border-bottom: 2px solid rgb(25, 118, 210); 
    left: 0px; 
    bottom: 0px; 
    content: ""; 
    position: absolute; 
    right: 0px; 
    transform: scaleX(0); 
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms; 
    pointer-events: none;
} 

.css-12rx5qu:hover:not(.Mui-disabled, .Mui-error):before { 
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
} 

.css-w0pj6f { 
    overflow: hidden; 
    pointer-events: none; 
    position: absolute; 
    z-index: 0; 
    inset: 0px; 
    border-radius: inherit;
} 

.css-13gzsmf { 
    width: 60px; 
    height: 60px;
} 

.css-15snpqn { 
    margin: 8px 0px 0px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} 

.css-gqklnu { 
    width: 100px; 
    height: 60px;
} 

.css-1egs8ln > :not(style) + :not(style)  { 
    margin: 0px 0px 0px 8px;
} 

.css-u4p24i { 
    display: flex; 
    flex-direction: row; 
    -webkit-box-align: center; 
    align-items: center;
} 

.css-1deacqj { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    text-align: center; 
    flex: 0 0 auto; 
    font-size: 1.5rem; 
    padding: 8px; 
    border-radius: 50%; 
    overflow: visible; 
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: inherit;
} 

.css-1abzdwk > :not(style) + :not(style)  { 
    margin: 0px 0px 0px 16px;
} 

.css-1deacqj:hover { 
    background-color: rgba(0, 0, 0, 0.04);
} 

.MuiFormLabel-asterisk { 
    color: red; 
    font-size: 22px;
} 

.css-1o6z5ng { 
    font: inherit; 
    letter-spacing: inherit; 
    color: currentcolor; 
    border: 0px; 
    box-sizing: content-box; 
    background: none; 
    height: 1.4375em; 
    margin: 0px; 
    -webkit-tap-highlight-color: transparent; 
    display: block; 
    min-width: 0px; 
    width: 100%; 
    animation-name: mui-auto-fill-cancel; 
    animation-duration: 10ms; 
    padding: 8.5px 14px;
} 

.css-1o6z5ng:invalid { 
    box-shadow: none;
} 

.css-igs3ac { 
    text-align: left; 
    position: absolute; 
    inset: -5px 0px 0px; 
    margin: 0px; 
    padding: 0px 8px; 
    pointer-events: none; 
    border-radius: inherit; 
    border-style: solid; 
    border-width: 1px; 
    overflow: hidden; 
    min-width: 0%; 
    border-color: rgba(0, 0, 0, 0.23);
} 

.css-qq14pi { 
    appearance: none; 
    user-select: none; 
    border-radius: 0px; 
    cursor: pointer; 
    font: inherit; 
    letter-spacing: inherit; 
    color: currentcolor; 
    padding: 1px 0px 5px; 
    border: 0px; 
    box-sizing: content-box; 
    background: none; 
    height: 1.4375em; 
    margin: 0px; 
    -webkit-tap-highlight-color: transparent; 
    display: block; 
    min-width: 0px; 
    width: 100%; 
    animation-name: mui-auto-fill-cancel; 
    animation-duration: 10ms;
} 

.css-qq14pi.MuiSelect-select { 
    height: auto; 
    min-height: 1.4375em; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
} 

.css-qq14pi.css-qq14pi.css-qq14pi { 
    padding-right: 24px; 
    min-width: 16px;
} 

.css-1k3x8v3 { 
    bottom: 0px; 
    left: 0px; 
    position: absolute; 
    opacity: 0; 
    pointer-events: none; 
    width: 100%; 
    box-sizing: border-box;
} 

.css-1utq5rl { 
    user-select: none; 
    width: 1em; 
    height: 1em; 
    display: inline-block; 
    fill: currentcolor; 
    flex-shrink: 0; 
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    font-size: 1.5rem; 
    position: absolute; 
    right: 0px; 
    top: calc(50% - 0.5em); 
    pointer-events: none; 
    color: rgba(0, 0, 0, 0.54);
} 

.css-vubbuv { 
    user-select: none; 
    width: 1em; 
    height: 1em; 
    display: inline-block; 
    fill: currentcolor; 
    flex-shrink: 0; 
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    font-size: 1.5rem;
} 

.css-1uk1gs8 { 
    margin: 0px;
} 

.css-1rzb3uu { 
    position: relative; 
    display: inline-flex; 
    vertical-align: middle; 
    flex-shrink: 0;
} 

.css-1ozsml8 { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px 0px 0px -12px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    text-align: center; 
    flex: 0 0 auto; 
    border-radius: 50%; 
    overflow: visible; 
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: inherit; 
    padding: 12px; 
    font-size: 1.75rem;
} 

.css-14972d3 { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px 0px 0px -12px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    text-align: center; 
    flex: 0 0 auto; 
    font-size: 1.5rem; 
    padding: 8px; 
    border-radius: 50%; 
    overflow: visible; 
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: inherit;
} 

.css-yjsfm1 { 
    float: unset; 
    width: auto; 
    overflow: hidden; 
    display: block; 
    padding: 0px; 
    height: 11px; 
    font-size: 0.75em; 
    visibility: hidden; 
    max-width: 0.01px; 
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms; 
    white-space: nowrap;
} 

.css-zhwrlg { 
    display: flex; 
    flex-flow: wrap; 
    -webkit-box-pack: center; 
    place-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    position: absolute; 
    box-sizing: border-box; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 500; 
    font-size: 0.75rem; 
    min-width: 20px; 
    line-height: 1; 
    padding: 0px 6px; 
    height: 20px; 
    border-radius: 10px; 
    z-index: 1; 
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    background-color: rgb(156, 39, 176); 
    color: rgb(255, 255, 255); 
    top: 0px; 
    right: 0px; 
    transform: scale(1) translate(50%, -50%); 
    transform-origin: 100% 0%;
} 

.css-9l3uo3 { 
    margin: 0px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em;
} 

.css-w4glur { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    flex-shrink: 0; 
    width: 40px; 
    height: 40px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-size: 1.25rem; 
    line-height: 1; 
    border-radius: 50%; 
    overflow: hidden; 
    user-select: none; 
    color: rgb(255, 255, 255); 
    background-color: purple;
} 

.css-1gr8vn2 { 
    margin: 0px 0px 0px 8px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em;
} 

.css-yjsfm1 > span  { 
    padding-left: 5px; 
    padding-right: 5px; 
    display: inline-block; 
    opacity: 0; 
    visibility: visible;
} 


@keyframes jss18 { 
  0% {  
      transform: translateX(100%); 
      transform: translateX(100%); 
  }  
  100% {  
      transform: translateX(-100%); 
      transform: translateX(-100%); 
  }  

} 
@keyframes mui-auto-fill-cancel { 
  0% {  
      display: block; 
      display: block; 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#style-NKbo4.style-NKbo4 {  
   color: yellow;  
    font-size: 20px;  
}  
#style-4lx29.style-4lx29 {  
   width: 100%;  
}  
#outlined-basic.style-LDa2L {  
   text-transform: uppercase;  
}  
